@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  background: #1f2937;
  font-family: "Roboto", sans-serif;
}

/* Supprime le style par défaut des listes dans les navigateurs */
ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.company-name {
  font-size: 24px;
  color: #f9faf8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.list-links {
  display: flex;
  gap: 15px;
}

.header-content {
  display: flex;
  align-items: center;
  padding: 0 100px;
  height: 450px;
  gap: 20px;
}

.header-description {
  width: 500px;
}

.title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.img-header {
  margin-left: auto;
}

.para-header {
  text-align: justify;
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
  margin-top: 15px;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: 900;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 15px;
}

/* Applique display: flex sur .container-one pour centrer le contenu horizontalement */

.container-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 80px;
}

.container-one h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

/* Organiser les images des incontournables de manière flexible en utilisant les propriétés de Flexbox */

.container-image {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.img-plat {
  box-sizing: border-box;
  border-radius: 15px;
  border: solid 3px rgb(70, 70, 230);
}

figcaption {
  margin-top: 10px;
  text-align: center;
  color: #1f2937;
  font-size: 24px;
  font-weight: 900;
}

.container-two {
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 60px 0px;
  width: 100%;
}

.avis {
  width: 60%;
  text-align: justify;
  color: #1f2937;
}

.avis p {
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
}

.avis h3 {
  text-align: right;
  font-size: 20px;
  font-weight: 900;
}

.copyright {
  text-align: center;
  padding: 20px 0px;
  color: #f9faf8;
  font-size: 18px;
}
